.checkerboard{
height: 800px;
width: 800px;
margin: 20px;
border: 10px solid black;
}

.black{
    width:100px;
    height:100px;
    background-color: black;
}

.white{
    width: 100px;
    height: 100px;
    background-color: white;

}

.row{
    display:flex;

}

.row2{
    display: flex;
    flex-direction: row-reverse;
}