table {
    width: 800px;
    height: 400px;
    border: solid 5px white;
    margin: auto;
}

.red {
    background-color: red;
}

.white {
    background-color: white;
}

img {
    position: absolute;
    height: 208px;
    margin: 7px 22.12%;
}
