table {
    width: 800px;
    height: 405px;
    border: solid 5px white;
    margin: auto;
}

.red {
    background-color: red;
}

.white {
    background-color: white;
}

img {
    position: absolute;
    height: 210px;
    margin: 7px 29%;
}